<div class="app-content">
  <md-card class="demo-card demo-basic">
  <md-toolbar color="primary">New Customer</md-toolbar>
  <md-card-content>
      <form #customerNewForm="ngForm" class="form-horizontal" (ngSubmit)="submitCustomerNew()" novalidate>
        <div class="form-group">
          <md-input class="md-input-full-width" name="name" placeholder="Company Name" [(ngModel)]="customer.name"></md-input>
        </div>
        <div class="form-group">
        <md-input name="address1" class="md-input-full-width" placeholder="Address 1" [(ngModel)]="customer.address1"></md-input>
        </div>
        <div class="form-group">
        <md-input name="address2" class="md-input-full-width" placeholder="Address 2" [(ngModel)]="customer.address2"></md-input>
        </div>
        <div class="form-group">
        <md-input name="town" class="md-input-full-width" placeholder="Town" [(ngModel)]="customer.town"></md-input>
        </div>
        <div class="form-group">
        <md-input name="county" class="md-input-full-width" placeholder="County" [(ngModel)]="customer.county"></md-input>
        </div>
        <div class="form-group">
        <md-input name="postcode" class="md-input-full-width" placeholder="Postcode" [(ngModel)]="customer.postcode"></md-input>
        </div>
        <div class="form-group">
        <md-input name="telephone" class="md-input-full-width" placeholder="Telephone" [(ngModel)]="customer.telephone"></md-input>
        </div>
        <div class="form-group">
        <md-input name="email" class="md-input-full-width" placeholder="Email" [(ngModel)]="customer.email"></md-input>
        </div>
        <div class="form-group">
        <md-input name="url" class="md-input-full-width" placeholder="URL" [(ngModel)]="customer.url"></md-input>
        </div>
        <div [ngClass]="{'has-danger': classification.errors && (classification.dirty || classification.touched), 'has-success': !classification.errors && (classification.dirty || classification.touched), 'form-group': true}">
          <label>Classification</label>
          <ng-select
            [options]="headings"
            placeholder="Select a classification"
            name="headingSelect"
            [(ngModel)]="customer.classification"
            required
            #classification="ngModel"
          >
          </ng-select>
          <div *ngIf="classification.errors && (classification.dirty || classification.touched)">
            <small class="form-control-feedback form-muted" [hidden]="!classification.errors.required">You must select a classification</small>
          </div>
        </div>
        <button md-raised-button color="primary" (click)="submitCustomerNew()" [disabled]="!customerNewForm.form.valid">Save Customer</button>
      </form>
  </md-card-content>
</md-card>
</div>
